# Analysis of Data
This notebook explores the dataframe we created with the counts for the sperm cells as well as the bounding boxes. We have a script to put on the bounding boxes so now we will check distributions and quality of the data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [ ]:
#Reading in our counts_bb file
df = pd.read_csv("C:/Users/Derrick Mayall/GitHub_Repos/6165/Data/Train_test/Counts_BB.csv")
df

,Unnamed: 0,frame_name,sperm_count,cluster_count,small_or_pinhead_count,folder,fid,class,bb0,bb1,bb2,bb3
0,0,14_frame_0,3,0,0,14,ckyw6zzlj001r3867thf0fuy7,0,0.208594,0.825000,0.035937,0.037500
1,1,14_frame_0,3,0,0,14,ckyw704kw001v3867kvyjtx6k,0,0.796094,0.797917,0.029687,0.037500
2,2,14_frame_0,3,0,0,14,ckyw708pn001z386779fr849h,0,0.827344,0.123958,0.035937,0.039583
3,3,14_frame_1,3,0,0,14,ckyw6zzlj001r3867thf0fuy7,0,0.208594,0.814583,0.035937,0.037500
4,4,14_frame_1,3,0,0,14,ckyw704kw001v3867kvyjtx6k,0,0.764062,0.781250,0.029687,0.037500
...,...,...,...,...,...,...,...,...,...,...,...,...
19836,19836,52_frame_427,6,0,2,52,cl1x89ze6000o3f6baic4zklo,0,0.464062,0.462500,0.037500,0.054167
19837,19837,52_frame_427,6,0,2,52,cl1x8a7j3000s3f6bvn1rm1tw,0,0.416406,0.400000,0.029687,0.045833
19838,19838,52_frame_427,6,0,2,52,cl1x8ih7n00103f6b67egfbw2,0,0.057031,0.803125,0.032813,0.043750
19839,19839,52_frame_427,6,0,2,52,cl52g254u000o3b6gcyhoi1fk,2,0.132031,0.112500,0.026562,0.037500
19840,19840,52_frame_427,6,0,2,52,cl52g4ex1000s3b6g2941ltlj,2,0.297656,0.729167,0.039062,0.050000

In [10]:
#keeping only necessary columns
df = df[['frame_name', ' sperm_count', 'fid', 'bb0', 'bb1', 'bb2', 'bb3']]
df

,frame_name,sperm_count,fid,bb0,bb1,bb2,bb3
0,14_frame_0,3,ckyw6zzlj001r3867thf0fuy7,0.208594,0.825000,0.035937,0.037500
1,14_frame_0,3,ckyw704kw001v3867kvyjtx6k,0.796094,0.797917,0.029687,0.037500
2,14_frame_0,3,ckyw708pn001z386779fr849h,0.827344,0.123958,0.035937,0.039583
3,14_frame_1,3,ckyw6zzlj001r3867thf0fuy7,0.208594,0.814583,0.035937,0.037500
4,14_frame_1,3,ckyw704kw001v3867kvyjtx6k,0.764062,0.781250,0.029687,0.037500
...,...,...,...,...,...,...,...
19836,52_frame_427,6,cl1x89ze6000o3f6baic4zklo,0.464062,0.462500,0.037500,0.054167
19837,52_frame_427,6,cl1x8a7j3000s3f6bvn1rm1tw,0.416406,0.400000,0.029687,0.045833
19838,52_frame_427,6,cl1x8ih7n00103f6b67egfbw2,0.057031,0.803125,0.032813,0.043750
19839,52_frame_427,6,cl52g254u000o3b6gcyhoi1fk,0.132031,0.112500,0.026562,0.037500
19840,52_frame_427,6,cl52g4ex1000s3b6g2941ltlj,0.297656,0.729167,0.039062,0.050000